body{
    height:100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    color: white;
}
.footer{

height: 72px;
display: flex;
justify-content: center;
align-items: center;
background-color:#061A40;
flex-shrink: 0;


}
.header{
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 100px;margin-right: 100px;
margin-top: 10px;

}

a {

 padding-left: 10px;
 text-decoration: none;
 color:white;
}
.one {
    background-color:#0353A4;
    flex-shrink: 0;
    height: 400px;
}
.two{
    display: flex;
    flex-direction: column;
    background-color:#003559;    
    flex-shrink: 0;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.three{
    display: flex;
    flex-direction: column;
    background-color:#061A40;
    flex-shrink: 0;
    height: 450px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  

}

.four{
    background-color: #006DAA;
    display: flex;
    flex-shrink: 0;
    height: 250px;
    justify-content: center;
    align-items: center;

}
.logo{
font-size: 15px;
font-weight: 900;
}
.mid{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 
}
.side{
    
    height: 250px;
    width: 400px;
}
.s1{

    padding-right: 10px;
    text-align: left;
    margin:0;
}
p{
    font-size: 16px;
    color: white;
    margin: 0;
    margin-bottom: 5px;
}

}
.header2{

    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 900;
}

.smoll{
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

img{
    border-style: solid;
    border: 1px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 25px;
   
}
.txt{
    width: 200px;
    max-width: 200px;
    margin-left: 25px;
}
.p3 {color: white;
    font-size: 16px;
    width: 400;
}    

.pro{
    color: black;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    padding-right: 30px;
    margin-top: 15px;

}
.k{
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}.text{
    width: 700px;
    height: 150px;
    border-radius: 8px;
    background-color:#B9D6F2;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secondB{
width:100px;
height: 30px;
margin-right: 50px;
border-color:#B9D6F2;
}

.contain{
    width: 400px;
    margin-left: 50px; 
}
.s4header{
    font-size: 20px;
font-weight: bold;

}

.subHeader{
font-size: 15px;
}
.firstB{

    border-color: transparent;
    width: 80px;
    height: 25px;
}
.t{
    font-size: 10px;
}
.cards {
    height: 300px;
    display: flex;
}


