body{
    height:100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;

}
.footer{

height: 72px;
display: flex;
justify-content: center;
align-items: center;
background-color: red;


}
.header{
display: flex;
justify-content: space-between;
margin-left: 50px;margin-right: 50px;

}

a {

 padding-left: 10px;
 text-decoration: none;
}
.one {
    background-color: aqua;
    flex: 1;
}
.two{

    background-color: green;   
     flex: 1;

}
.three{
    
    background-color:blueviolet ;
    flex: 1;


}

.four{
    background-color: chocolate;
    flex: 1;


}

