body{
    height:100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    color: white;
}
.footer{

height: 72px;
display: flex;
justify-content: center;
align-items: center;
background-color: red;
flex-shrink: 0;


}
.header{
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 100px;margin-right: 100px;
margin-top: 10px;

}

a {

 padding-left: 10px;
 text-decoration: none;
 color:white;
}
.one {
    background-color: #053B06;
    flex-shrink: 0;
    height: 400px;
}
.two{
    display: flex;
    flex-direction: column;
    background-color:#0B5D1E;    
    flex-shrink: 0;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.three{
    display: flex;
    background-color:#139A43;
    flex-shrink: 0;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  

}

.four{
    background-color: #0B5D1E;

    flex-shrink: 0;
  
    height: 250px;

}
.logo{
font-size: 15px;
font-weight: 900;
}
.mid{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
 
}
.side{
    
    height: 250px;
    width: 400px;
}
.s1{

    padding-right: 10px;
    text-align: left;
    margin:0;
}
p{
    color: grey;
    margin: 0;
    margin-bottom: 5px;
}
button{
    border-radius: 8px;
     background-color: #0DAB76;
}
.header2{

    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    font-weight: 900;
}

.smoll{
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

img{
    border-style: solid;
    border: 1px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 25px;
   
}
.txt{
    margin-left: 25px;
}
p {color: white;
    font-size: 25px;
    width: 400;
}    

.pro{
    color: white;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}
.k{
    width: 450px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

